@import "compass/reset";
@import "iscroll";
@import "iphone-style-checkboxes";

$bg-color: #333;
$text-color-light: lightgray;
$text-color-dark: black;

$corner-radius-horz: 12px;
$corner-radius-vert: 10px;

$button-bg: #000000;
$button-border: #777777;
$button-text: #dddddd;

$set-dominion: #000000;
$set-intrigue: #0000ff;
$set-seaside: #ff4500;
$set-alchemy: #aa00aa;
$set-promo: #888888;
$set-prosperity: #005500;
$set-cornucopia: #ff4500;

$type-action: black;
$type-attack: red;
$type-defense: blue;
$type-duration: #ff4500;
$type-treasure: #ac853f;
$type-victory: #006400;

$total-width: 100%; //320px;
$total-height: 100%; // 480px;

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

html {
	background: url('../images/black_linen_v2.png');
}
body {
	color: $text-color-light;
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding-bottom: 10px;

	width: $total-width;
	height: $total-height;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-top: 1px solid #444;
	//background-color: #222;

	background-image: -webkit-gradient(linear, left top, left bottom,
	from(rgba(74,74,74,0.85)),
	color-stop(0.5, rgba(20,20,20,0.75)),
	color-stop(0.5, rgba(2,2,2,0.75)),
	to(rgba(14,14,14,0.75)));

	a {
		text-decoration: none;
		&.right {
			float: right;
			margin-right: 10px;
		}
		&.left {
			float: left;
			margin-left: 10px;
		}
	}

	.button {
		margin-top: 3px;
	}

	h1 {
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		margin-top: 3px;
	}
}
.scroll-wrapper {
	position: absolute;
	width: 100%;
	top: 40px;
	bottom: 0;
	overflow: auto;
}

a {
	color: $text-color-light;
}

.qr {
	width: 100%;
	text-align: center;
	margin: 30px 0 15px 0;
}

h2 {
	text-transform: uppercase;
	font-size: 120%;
	font-weight: bold;
	margin-left: $corner-radius-horz;
	margin-top: 5px;
}
.deck, .no-deck {
	li {
		color: $text-color-dark;
		background-color: #dddddd;
		border-bottom: 1px dotted gray;
		padding: 12px 7px;
		line-height: 20px;

		-webkit-transition-property:-webkit-transform;
		-webkit-transition-duration: 250ms;
		-webkit-transform: translate(0,0);

		&.selected {
			-webkit-transform: translate(80px,0);
		}

		&.replacement {
			background-color: lightblue;
		}
	}
}
.cardName {
	font-size: 20px;
}

.cardSet, .deckSets {
	font-family: monospace;
	font-weight: bold;
	text-align: right;
	margin-right: 2px;
	display: block;

	ul.deck & {
		float: left;
	}
	ul.list & {
		float: right;
	}

	&.Dominion {
		color: $set-dominion;
	}
	&.Intrigue {
		color: $set-intrigue;
	}
	&.Seaside {
		color: $set-seaside;
	}
	&.Alchemy {
		color: $set-alchemy;
	}
	&.Promo {
		color: $set-promo;
	}
	&.Prosperity {
		color: $set-prosperity;
	}
	&.Cornucopia {
		color: $set-cornucopia;
	}
}

.cardType {
	font-family: monospace;
	margin-left: 1px;
	float: right;

	.action {
		color: $type-action;
	}
	.attack {
		color: $type-attack;
	}
	.defense {
		color: $type-defense;
	}
	.duration {
		color: $type-duration;
	}
	.treasure {
		color: $type-treasure;
	}
	.victory {
		color: $type-victory;
	}
}

.cardCost {
	font-family: monospace;
	margin-left: 1px;
	float: right;
	text-align: right;
}

.button-old {
	font-size: 16px/20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	color: white;

	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.button {
	display: block;
	width: auto;
	min-width: 40px;
	max-width: 60px;
	height: 30px; 
	padding: 0 5px;
	overflow: hidden;

	cursor: pointer;

	font-size: 12px;
	line-height: 30px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	background: none;
	border-radius: 6px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
}

.cancel-button {
	@extend .button;
}

.action-button {
	@extend .button;
	color: white;
	border: 1px solid #45505D;

	background-image: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0, #8ea4c1),
	color-stop(0.5, #5877a2), 
	color-stop(0.5, #476999),
	color-stop(1, #4a6c9b)
	);
}

.action-button:active {
	@extend .action-button;

	background-image: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, #7d88a5),
	color-stop(0.5, #3a4e78),
	color-stop(0.5, #273f6d),
	color-stop(1, #273f6d));
}

.replace-card {
	position: absolute;
	left: -70px;
	top: 7px;
}

ul.list {
	margin: 10px 0;

	li {
		color: $text-color-dark;
		background-color: #dddddd;
		border-top: 1px dotted gray;
		padding: 7px;
		cursor: pointer;
	}
}

ul.fieldset {
	margin: 5px;
	border-radius: 5px;
	background-color: #555;
	border: 1px solid black;

	li {
		border-bottom: 1px solid black;
		&:last-child {
			border: none;
		}

		&:after {
			clear: both;
			content: "&nbsp;";
			display: block;
			height: 0;
			visibility: hidden;
		}

		> label {
			float: left;
			display: block;
			margin: 10px;
			font-weight: bold;
		}
		
		> .iPhoneCheckContainer,
		> select,
		> input,
		> .input {
			margin: 5px;
			float: right;
		}
	}
}


.icon-button {
	@extend .button;
	margin: 4px auto;
	padding: 2px;
	display: block;
	text-indent: -3000px;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: center;
}
.deck-icon {
	@extend .icon-button;
	width: 30px; height: 28px;
	background-image: url('../images/icons/cards.png');
	background-size: 30px 27px;
}
.list-icon {
	@extend .icon-button;
	width: 20px; height: 21px;
	background-image: url('../images/icons/list.png');
	background-size: 20px 14px;
}
.options-icon {
	@extend .icon-button;
	width: 26px; height: 28px;
	background-image: url('../images/icons/gear-2.png');
	background-size: 26px 28px;
}
.download-icon {
	@extend .icon-button;
	width: 20px; height: 24px;
	background-image: url('../images/icons/download.png');
	background-size: 20px 24px;
}
@media screen and (-webkit-min-device-pixel-ratio:2) {
	.deck-icon {
		background-image: url('../images/icons/cards@2x.png');
	}
	.list-icon {
		background-image: url('../images/icons/list@2x.png');
	}
	.options-icon {
		background-image: url('../images/icons/gear-2@2x.png');
	}
	.download-icon {
		background-image: url('../images/icons/download@2x.png');
	}
}


.iScrollPullDown {
	font-weight:bold;
}
