@import "compass/reset";
@import "iscroll";
@import "iphone-style-checkboxes";

$bg-color: #333;
$text-color-light: lightgray;
$text-color-dark: black;

$corner-radius-horz: 12px;
$corner-radius-vert: 10px;

$button-bg: #000000;
$button-border: #777777;
$button-text: #dddddd;

$set-dominion: #000000;
$set-intrigue: #0000ff;
$set-seaside: #ff4500;
$set-alchemy: #aa00aa;
$set-promo: #888888;
$set-prosperity: #005500;
$set-cornucopia: #ff4500;

$type-action: black;
$type-attack: red;
$type-defense: blue;
$type-duration: #ff4500;
$type-treasure: #ac853f;
$type-victory: #006400;

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

html {
	background-color: $bg-color;
}
body {
	color: $text-color-light;
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	//width: 100%;
	//height: 460px;
	//max-height: 460px;
	margin: 0;
	padding-bottom: 10px;
}

a {
	color: $text-color-light;
}

.button-left {
	@extend .button;
	float: left;
}
.button-right {
	@extend .button;
	float: right;
}

.scroll-wrapper {
	position: fixed;
	top: 0px;
	bottom: 48px;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.qr {
	width: 100%;
	text-align: center;
	margin: 30px 0 15px 0;
}

h2 {
	text-transform: uppercase;
	font-size: 120%;
	font-weight: bold;
	margin-left: $corner-radius-horz;
	margin-top: 5px;
}
.deck, .no-deck {

	li {
		color: $text-color-dark;
		background-color: #dddddd;
		border-bottom: 1px dotted gray;
		padding: 12px 7px;
		line-height: 20px;

		-webkit-transition-property:-webkit-transform;
		-webkit-transition-duration: 250ms;
		-webkit-transform: translate(0,0);

		&.selected {
			-webkit-transform: translate(100px,0);
		}

		&.replacement {
			background-color: lightblue;
		}
	}
}

.cardName {
	font-size: 20px;
}

.cardSet, .deckSets {
	font-family: monospace;
	font-weight: bold;
	text-align: right;
	margin-right: 2px;
	display: block;

	ul.deck & {
		float: left;
	}
	ul.list & {
		float: right;
	}

	&.Dominion {
		color: $set-dominion;
	}
	&.Intrigue {
		color: $set-intrigue;
	}
	&.Seaside {
		color: $set-seaside;
	}
	&.Alchemy {
		color: $set-alchemy;
	}
	&.Promo {
		color: $set-promo;
	}
	&.Prosperity {
		color: $set-prosperity;
	}
	&.Cornucopia {
		color: $set-cornucopia;
	}
}

.cardType {
	font-family: monospace;
	margin-left: 1px;
	float: right;

	.action {
		color: $type-action;
	}
	.attack {
		color: $type-attack;
	}
	.defense {
		color: $type-defense;
	}
	.duration {
		color: $type-duration;
	}
	.treasure {
		color: $type-treasure;
	}
	.victory {
		color: $type-victory;
	}
}

.cardCost {
	font-family: monospace;
	margin-left: 1px;
	float: right;
	text-align: right;
}

.replaceCard {
	position: absolute;
	left: -95px;

	margin-top: -4px;
	padding:5px 10px;

	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #333;

	border: 1px solid #282726;
	border-radius: 4px;
	background: -webkit-linear-gradient(pink, red);
	-webkit-background-origin: padding-box;
	-webkit-background-clip: border-box;
}

.replaceCard:active {
	color: #ddd;
	background: -webkit-linear-gradient(darkred,#4b0000);
}

ul.list {
	margin: 10px 0;

	li {
		color: $text-color-dark;
		background-color: #dddddd;
		border-top: 1px dotted gray;
		padding: 7px;
		cursor: pointer;
	}
}

ul.fieldset {
	margin: 5px;
	border-radius: 5px;
	background-color: #555;
	border: 1px solid black;

	li {
		border-bottom: 1px solid black;
		&:last-child {
			border: none;
		}

		&:after {
			clear: both;
			content: "&nbsp;";
			display: block;
			height: 0;
			visibility: hidden;
		}

		> label {
			float: left;
			display: block;
			margin: 10px;
			font-weight: bold;
		}
		
		> .iPhoneCheckContainer,
		> select,
		> input,
		> .input {
			margin: 5px;
			float: right;
		}
	}
}

.button {
  z-index: 10;
	text-decoration: none;
}
.button:active {
}


footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	border-top: 1px solid #444;
	background-color: #222;

	.footer-button {
		z-index: 3;
		text-align: center;
		width: 30%;

		border: 1px solid red;
	}

	.footer-button-left {
		@extend .footer-button;
		float: left;
	}
	.footer-button-right {
		@extend .footer-button;
		float: right;
	}
	.footer-button-center {
		@extend .footer-button;
	}

}
nav {
	ul {
		text-align: center;

		li {
			display: inline-table;
			list-style: none;
			-webkit-tap-hilight-color: transparent;
			border-radius: 4px;
			text-align: center;
			width: 30%;

			a {
				text-decoration: none;
			}

			span {
				vertical-align: top;
			}
		}
	}
}

.iScrollPullDown {
	font-weight:bold;
}
