/* line 17, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, ../../sass/style.scss */
html {
  background-color: #333333;
}

/* line 32, ../../sass/style.scss */
body {
  color: lightgray;
  font-size: 100%;
  font-family: Helvetica, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding-bottom: 10px;
}

/* line 44, ../../sass/style.scss */
a {
  color: lightgray;
}

/* line 48, ../../sass/style.scss */
.button, .button-left, .button-right {
  background-color: black;
  border: 1px solid #777777;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 7px;
}

/* line 55, ../../sass/style.scss */
.button:active, .button-left:active, .button-right:active {
  color: black;
  background-color: #dddddd;
}

/* line 59, ../../sass/style.scss */
.button-left {
  float: left;
}

/* line 63, ../../sass/style.scss */
.button-right {
  float: right;
}

/* line 68, ../../sass/style.scss */
nav {
  text-align: center;
}
/* line 70, ../../sass/style.scss */
nav .button, nav .button-left, nav .button-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 73, ../../sass/style.scss */
nav .button-left, nav .button-left.button-right {
  border-bottom-left-radius: 0;
}
/* line 76, ../../sass/style.scss */
nav .button-right.button-left, nav .button-right {
  border-bottom-right-radius: 0;
}
/* line 80, ../../sass/style.scss */
nav + * {
  clear: both;
}

/* line 85, ../../sass/style.scss */
h2 {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 5px;
}

/* line 93, ../../sass/style.scss */
ul.deck li {
  color: black;
  background-color: #dddddd;
  border-top: 1px dotted gray;
  padding: 7px;
}
/* line 98, ../../sass/style.scss */
ul.deck li:first-child {
  border-top-left-radius: 12px 10px;
  border-top-right-radius: 12px 10px;
}
/* line 102, ../../sass/style.scss */
ul.deck li:last-child {
  border-bottom-left-radius: 12px 10px;
  border-bottom-right-radius: 12px 10px;
  border-bottom: 1px dotted gray;
}
/* line 108, ../../sass/style.scss */
ul.deck li .selected {
  background-color: lightgreen;
}
/* line 112, ../../sass/style.scss */
ul.deck li .replacement {
  background-color: lightblue;
}

/* line 118, ../../sass/style.scss */
.cardSet {
  font-family: monospace;
  font-weight: bold;
  text-align: right;
  margin-right: 2px;
  display: block;
}
/* line 125, ../../sass/style.scss */
ul.deck .cardSet {
  float: left;
}
/* line 128, ../../sass/style.scss */
ul.list .cardSet {
  float: right;
}
/* line 132, ../../sass/style.scss */
.cardSet.Dominion {
  color: black;
}
/* line 135, ../../sass/style.scss */
.cardSet.Intrigue {
  color: blue;
}
/* line 138, ../../sass/style.scss */
.cardSet.Seaside {
  color: #ff4500;
}
/* line 141, ../../sass/style.scss */
.cardSet.Alchemy {
  color: #aa00aa;
}
/* line 144, ../../sass/style.scss */
.cardSet.Promo {
  color: #888888;
}
/* line 147, ../../sass/style.scss */
.cardSet.Prosperity {
  color: #005500;
}
/* line 150, ../../sass/style.scss */
.cardSet.Cornucopia {
  color: #ff4500;
}

/* line 155, ../../sass/style.scss */
.cardType {
  font-family: monospace;
  margin-left: 1px;
  float: right;
}
/* line 160, ../../sass/style.scss */
.cardType .action {
  color: black;
}
/* line 163, ../../sass/style.scss */
.cardType .attack {
  color: red;
}
/* line 166, ../../sass/style.scss */
.cardType .defense {
  color: blue;
}
/* line 169, ../../sass/style.scss */
.cardType .duration {
  color: #ff4500;
}
/* line 172, ../../sass/style.scss */
.cardType .treasure {
  color: #ac853f;
}
/* line 175, ../../sass/style.scss */
.cardType .victory {
  color: #006400;
}

/* line 180, ../../sass/style.scss */
.cardCost {
  font-family: monospace;
  margin-left: 1px;
  float: right;
  text-align: right;
}

/* line 187, ../../sass/style.scss */
ul.list {
  margin: 10px 0;
}
/* line 190, ../../sass/style.scss */
ul.list li {
  color: black;
  background-color: #dddddd;
  border-top: 1px dotted gray;
  padding: 7px 10px;
}

/* line 198, ../../sass/style.scss */
ul.fieldset {
  margin: 5px;
  border-radius: 5px;
  background-color: #555;
  border: 1px solid black;
}
/* line 204, ../../sass/style.scss */
ul.fieldset li {
  border-bottom: 1px solid black;
}
/* line 206, ../../sass/style.scss */
ul.fieldset li:last-child {
  border: none;
}
/* line 210, ../../sass/style.scss */
ul.fieldset li:after {
  clear: both;
  content: "&nbsp;";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 218, ../../sass/style.scss */
ul.fieldset li > label {
  float: left;
  display: block;
  margin: 10px;
  font-weight: bold;
}
/* line 228, ../../sass/style.scss */
ul.fieldset li > .iPhoneCheckContainer,
ul.fieldset li > select,
ul.fieldset li > input,
ul.fieldset li > .input {
  margin: 5px;
  float: right;
}
