/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 *
 * Styles specific to the pull down/up element
 *
 */
/* line 7, ../../sass/_iscroll.scss */
.iScrollPullDown,
.iScrollPullUp {
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  -webkit-transform: translate3d(0, 0, 0);
  /* Put the element in the HW accelerated layer */
}

/* line 15, ../../sass/_iscroll.scss */
.iScrollPullDownIcon,
.iScrollPullUpIcon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(../images/pull-icon.png) 0 0 no-repeat;
  background-size: 40px 80px;
  margin-right: 5px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
  -webkit-transform: rotate(0);
}

/* line 26, ../../sass/_iscroll.scss */
.iScrollPullDown.flip .iScrollPullDownIcon {
  -webkit-transform: rotate(-180deg);
}

/* line 31, ../../sass/_iscroll.scss */
.iScrollPullDown.loading .iScrollPullDownIcon,
.iScrollPullUp.loading .iScrollPullUpIcon {
  background-position: 0 100%;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/* line 39, ../../sass/_iscroll.scss */
.iScrollPullUp {
  border-bottom: 0;
}

/* line 43, ../../sass/_iscroll.scss */
.iScrollPullUpIcon {
  -webkit-transform: rotate(-180deg);
}

/* line 47, ../../sass/_iscroll.scss */
.iScrollPullUp.flip .iScrollPullUpIcon {
  -webkit-transform: rotate(0);
}

@-webkit-keyframes loading {
  /* line 52, ../../sass/_iscroll.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 53, ../../sass/_iscroll.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
  /* line 58, ../../sass/_iscroll.scss */
  .iScrollPullDownIcon,
  .iScrollPullUpIcon {
    background-image: url(../images/pull-icon@2x.png);
  }
}
/* line 1, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
}

/* line 6, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckContainer input {
  position: absolute;
  top: 5px;
  left: 30px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/* line 13, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckContainer label {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  height: 27px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden;
}

/* line 28, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckContainer, .iPhoneCheckContainer label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* line 33, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckDisabled {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/* line 38, ../../sass/_iphone-style-checkboxes.scss */
label.iPhoneCheckLabelOn {
  color: white;
  background: url("../images/iphone-style-checkboxes/on.png?1282083753") no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px;
}

/* line 44, ../../sass/_iphone-style-checkboxes.scss */
label.iPhoneCheckLabelOn span {
  padding-left: 8px;
}

/* line 46, ../../sass/_iphone-style-checkboxes.scss */
label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url("../images/iphone-style-checkboxes/off.png?1282083753") no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0;
}

/* line 52, ../../sass/_iphone-style-checkboxes.scss */
label.iPhoneCheckLabelOff span {
  padding-right: 8px;
}

/* line 55, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url("../images/iphone-style-checkboxes/slider_left.png?1282083753") no-repeat;
  padding-left: 3px;
}

/* line 66, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url("../images/iphone-style-checkboxes/slider_right.png?1282083753") no-repeat right 0;
}

/* line 72, ../../sass/_iphone-style-checkboxes.scss */
.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url("../images/iphone-style-checkboxes/slider_center.png?1282083753");
}

/* line 31, ../../sass/style.scss */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* line 36, ../../sass/style.scss */
html {
  background: url("../images/black_linen_v2.png");
}

/* line 39, ../../sass/style.scss */
body {
  color: lightgray;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding-bottom: 10px;
}

/* line 51, ../../sass/style.scss */
a {
  color: lightgray;
}

/* line 55, ../../sass/style.scss */
.button-left {
  float: left;
}

/* line 59, ../../sass/style.scss */
.button-right {
  float: right;
}

/* line 64, ../../sass/style.scss */
.scroll-wrapper {
  position: fixed;
  top: 0px;
  bottom: 48px;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

/* line 74, ../../sass/style.scss */
.qr {
  width: 100%;
  text-align: center;
  margin: 30px 0 15px 0;
}

/* line 80, ../../sass/style.scss */
h2 {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 5px;
}

/* line 88, ../../sass/style.scss */
.deck li, .no-deck li {
  color: black;
  background-color: #dddddd;
  border-bottom: 1px dotted gray;
  padding: 12px 7px;
  line-height: 20px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
  -webkit-transform: translate(0, 0);
}
/* line 99, ../../sass/style.scss */
.deck li.selected, .no-deck li.selected {
  -webkit-transform: translate(80px, 0);
}
/* line 103, ../../sass/style.scss */
.deck li.replacement, .no-deck li.replacement {
  background-color: lightblue;
}

/* line 109, ../../sass/style.scss */
.offscreen, .offscreen-left, .offscreen-right {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}

/* line 113, ../../sass/style.scss */
.offscreen-left {
  -webkit-transform: translate(-100%, 0);
}

/* line 117, ../../sass/style.scss */
.offscreen-right {
  -webkit-transform: translate(-100%, 0);
}

/* line 122, ../../sass/style.scss */
.cardName {
  font-size: 20px;
}

/* line 126, ../../sass/style.scss */
.cardSet, .deckSets {
  font-family: monospace;
  font-weight: bold;
  text-align: right;
  margin-right: 2px;
  display: block;
}
/* line 133, ../../sass/style.scss */
ul.deck .cardSet, ul.deck .deckSets {
  float: left;
}
/* line 136, ../../sass/style.scss */
ul.list .cardSet, ul.list .deckSets {
  float: right;
}
/* line 140, ../../sass/style.scss */
.cardSet.Dominion, .deckSets.Dominion {
  color: black;
}
/* line 143, ../../sass/style.scss */
.cardSet.Intrigue, .deckSets.Intrigue {
  color: blue;
}
/* line 146, ../../sass/style.scss */
.cardSet.Seaside, .deckSets.Seaside {
  color: #ff4500;
}
/* line 149, ../../sass/style.scss */
.cardSet.Alchemy, .deckSets.Alchemy {
  color: #aa00aa;
}
/* line 152, ../../sass/style.scss */
.cardSet.Promo, .deckSets.Promo {
  color: #888888;
}
/* line 155, ../../sass/style.scss */
.cardSet.Prosperity, .deckSets.Prosperity {
  color: #005500;
}
/* line 158, ../../sass/style.scss */
.cardSet.Cornucopia, .deckSets.Cornucopia {
  color: #ff4500;
}

/* line 163, ../../sass/style.scss */
.cardType {
  font-family: monospace;
  margin-left: 1px;
  float: right;
}
/* line 168, ../../sass/style.scss */
.cardType .action {
  color: black;
}
/* line 171, ../../sass/style.scss */
.cardType .attack {
  color: red;
}
/* line 174, ../../sass/style.scss */
.cardType .defense {
  color: blue;
}
/* line 177, ../../sass/style.scss */
.cardType .duration {
  color: #ff4500;
}
/* line 180, ../../sass/style.scss */
.cardType .treasure {
  color: #ac853f;
}
/* line 183, ../../sass/style.scss */
.cardType .victory {
  color: #006400;
}

/* line 188, ../../sass/style.scss */
.cardCost {
  font-family: monospace;
  margin-left: 1px;
  float: right;
  text-align: right;
}

/* line 195, ../../sass/style.scss */
.button-old {
  font-size: 16px/20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

/* line 206, ../../sass/style.scss */
.button, .button-left, .button-right, .cancel-button, .action-button, .action-button:active {
  width: auto;
  min-width: 40px;
  max-width: 60px;
  height: 30px;
  margin: 0;
  padding: 0 5px;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  background: none;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* line 235, ../../sass/style.scss */
.action-button, .action-button:active {
  color: white;
  border: 1px solid #45505D;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8ea4c1), color-stop(0.5, #5877a2), color-stop(0.5, #476999), color-stop(1, #4a6c9b));
}

/* line 248, ../../sass/style.scss */
.action-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7d88a5), color-stop(0.5, #3a4e78), color-stop(0.5, #273f6d), color-stop(1, #273f6d));
}

/* line 258, ../../sass/style.scss */
.replace-card {
  position: absolute;
  left: -70px;
  top: 7px;
}

/* line 264, ../../sass/style.scss */
ul.list {
  margin: 10px 0;
}
/* line 267, ../../sass/style.scss */
ul.list li {
  color: black;
  background-color: #dddddd;
  border-top: 1px dotted gray;
  padding: 7px;
  cursor: pointer;
}

/* line 276, ../../sass/style.scss */
ul.fieldset {
  margin: 5px;
  border-radius: 5px;
  background-color: #555;
  border: 1px solid black;
}
/* line 282, ../../sass/style.scss */
ul.fieldset li {
  border-bottom: 1px solid black;
}
/* line 284, ../../sass/style.scss */
ul.fieldset li:last-child {
  border: none;
}
/* line 288, ../../sass/style.scss */
ul.fieldset li:after {
  clear: both;
  content: "&nbsp;";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 296, ../../sass/style.scss */
ul.fieldset li > label {
  float: left;
  display: block;
  margin: 10px;
  font-weight: bold;
}
/* line 306, ../../sass/style.scss */
ul.fieldset li > .iPhoneCheckContainer,
ul.fieldset li > select,
ul.fieldset li > input,
ul.fieldset li > .input {
  margin: 5px;
  float: right;
}

/* line 313, ../../sass/style.scss */
.button, .button-left, .button-right, .cancel-button, .action-button, .action-button:active {
  z-index: 10;
  text-decoration: none;
}

/* line 320, ../../sass/style.scss */
footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 74, 74, 0.85)), color-stop(0.5, rgba(20, 20, 20, 0.75)), color-stop(0.5, rgba(2, 2, 2, 0.75)), to(rgba(14, 14, 14, 0.75)));
}

/* line 336, ../../sass/style.scss */
nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 341, ../../sass/style.scss */
nav ul li {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  display: inline-table;
  list-style: none;
  -webkit-tap-hilight-color: transparent;
  text-align: center;
  width: 30%;
}

/* line 358, ../../sass/style.scss */
.footer-button, .deck-icon, .list-icon, .options-icon {
  margin: 4px auto;
  display: block;
  text-align: center;
}

/* line 363, ../../sass/style.scss */
.deck-icon {
  width: 30px;
  height: 28px;
  background: url("../images/icons/cards.png") 0 0px no-repeat;
  background-size: 30px 27px;
}

/* line 369, ../../sass/style.scss */
.list-icon {
  width: 20px;
  height: 21px;
  background: url("../images/icons/list.png") 0 0 no-repeat;
  background-size: 20px 14px;
}

/* line 375, ../../sass/style.scss */
.options-icon {
  width: 26px;
  height: 28px;
  background: url("../images/icons/gear-2.png") 0 0 no-repeat;
  background-size: 26px 28px;
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
  /* line 382, ../../sass/style.scss */
  .deck-icon {
    background: url("../images/icons/cards@2x.png") 0 0 no-repeat;
  }

  /* line 385, ../../sass/style.scss */
  .list-icon {
    background: url("../images/icons/list@2x.png") 0 0 no-repeat;
  }

  /* line 388, ../../sass/style.scss */
  .options-icon {
    background: url("../images/icons/gear-2@2x.png") 0 0 no-repeat;
  }
}
/* line 394, ../../sass/style.scss */
.iScrollPullDown {
  font-weight: bold;
}
