/* line 17, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.gem/ruby/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, ../../sass/style.scss */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* line 34, ../../sass/style.scss */
html {
  background-color: #333333;
}

/* line 37, ../../sass/style.scss */
body {
  color: lightgray;
  font-size: 100%;
  font-family: Helvetica, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding-bottom: 10px;
}

/* line 49, ../../sass/style.scss */
a {
  color: lightgray;
}

/* line 53, ../../sass/style.scss */
.button-left {
  float: left;
}

/* line 57, ../../sass/style.scss */
.button-right {
  float: right;
}

/* line 62, ../../sass/style.scss */
.scroll-wrapper {
  position: fixed;
  top: 0px;
  bottom: 48px;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

/* line 71, ../../sass/style.scss */
.qr {
  width: 100%;
  text-align: center;
  margin: 30px 0 15px 0;
}

/* line 78, ../../sass/style.scss */
.scroll-wrapper {
  display: none;
}

/* line 82, ../../sass/style.scss */
h2 {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 5px;
}

/* line 90, ../../sass/style.scss */
ul.deck li {
  color: black;
  background-color: #dddddd;
  border-bottom: 1px dotted gray;
  padding: 7px;
}
/* line 95, ../../sass/style.scss */
ul.deck li:first-child {
  /*border-top-left-radius: $corner-radius-horz $corner-radius-vert;*/
  /*border-top-right-radius: $corner-radius-horz $corner-radius-vert;*/
}
/* line 99, ../../sass/style.scss */
ul.deck li:last-child {
  /*border-bottom-left-radius: $corner-radius-horz $corner-radius-vert;*/
  /*border-bottom-right-radius: $corner-radius-horz $corner-radius-vert;*/
}
/* line 105, ../../sass/style.scss */
ul.deck li .selected {
  background-color: lightgreen;
}
/* line 109, ../../sass/style.scss */
ul.deck li .replacement {
  background-color: lightblue;
}

/* line 115, ../../sass/style.scss */
.cardSet, .deckSets {
  font-family: monospace;
  font-weight: bold;
  text-align: right;
  margin-right: 2px;
  display: block;
}
/* line 122, ../../sass/style.scss */
ul.deck .cardSet, ul.deck .deckSets {
  float: left;
}
/* line 125, ../../sass/style.scss */
ul.list .cardSet, ul.list .deckSets {
  float: right;
}
/* line 129, ../../sass/style.scss */
.cardSet.Dominion, .deckSets.Dominion {
  color: black;
}
/* line 132, ../../sass/style.scss */
.cardSet.Intrigue, .deckSets.Intrigue {
  color: blue;
}
/* line 135, ../../sass/style.scss */
.cardSet.Seaside, .deckSets.Seaside {
  color: #ff4500;
}
/* line 138, ../../sass/style.scss */
.cardSet.Alchemy, .deckSets.Alchemy {
  color: #aa00aa;
}
/* line 141, ../../sass/style.scss */
.cardSet.Promo, .deckSets.Promo {
  color: #888888;
}
/* line 144, ../../sass/style.scss */
.cardSet.Prosperity, .deckSets.Prosperity {
  color: #005500;
}
/* line 147, ../../sass/style.scss */
.cardSet.Cornucopia, .deckSets.Cornucopia {
  color: #ff4500;
}

/* line 152, ../../sass/style.scss */
.cardType {
  font-family: monospace;
  margin-left: 1px;
  float: right;
}
/* line 157, ../../sass/style.scss */
.cardType .action {
  color: black;
}
/* line 160, ../../sass/style.scss */
.cardType .attack {
  color: red;
}
/* line 163, ../../sass/style.scss */
.cardType .defense {
  color: blue;
}
/* line 166, ../../sass/style.scss */
.cardType .duration {
  color: #ff4500;
}
/* line 169, ../../sass/style.scss */
.cardType .treasure {
  color: #ac853f;
}
/* line 172, ../../sass/style.scss */
.cardType .victory {
  color: #006400;
}

/* line 177, ../../sass/style.scss */
.cardCost {
  font-family: monospace;
  margin-left: 1px;
  float: right;
  text-align: right;
}

/* line 184, ../../sass/style.scss */
ul.list {
  margin: 10px 0;
}
/* line 187, ../../sass/style.scss */
ul.list li {
  color: black;
  background-color: #dddddd;
  border-top: 1px dotted gray;
  padding: 7px;
  cursor: pointer;
}

/* line 196, ../../sass/style.scss */
ul.fieldset {
  margin: 5px;
  border-radius: 5px;
  background-color: #555;
  border: 1px solid black;
}
/* line 202, ../../sass/style.scss */
ul.fieldset li {
  border-bottom: 1px solid black;
}
/* line 204, ../../sass/style.scss */
ul.fieldset li:last-child {
  border: none;
}
/* line 208, ../../sass/style.scss */
ul.fieldset li:after {
  clear: both;
  content: "&nbsp;";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 216, ../../sass/style.scss */
ul.fieldset li > label {
  float: left;
  display: block;
  margin: 10px;
  font-weight: bold;
}
/* line 226, ../../sass/style.scss */
ul.fieldset li > .iPhoneCheckContainer,
ul.fieldset li > select,
ul.fieldset li > input,
ul.fieldset li > .input {
  margin: 5px;
  float: right;
}

/* line 233, ../../sass/style.scss */
.button, .button-left, .button-right {
  z-index: 10;
  text-decoration: none;
}

/* line 241, ../../sass/style.scss */
footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-top: 1px solid #444;
  background-color: #222;
}
/* line 251, ../../sass/style.scss */
footer .footer-button, footer .footer-button-left, footer .footer-button-right, footer .footer-button-center {
  z-index: 3;
  text-align: center;
  width: 30%;
  border: 1px solid red;
}
/* line 259, ../../sass/style.scss */
footer .footer-button-left {
  float: left;
}
/* line 263, ../../sass/style.scss */
footer .footer-button-right {
  float: right;
}

/* line 273, ../../sass/style.scss */
nav ul {
  text-align: center;
}
/* line 276, ../../sass/style.scss */
nav ul li {
  display: inline-table;
  list-style: none;
  -webkit-tap-hilight-color: transparent;
  border-radius: 4px;
  text-align: center;
  width: 30%;
}
/* line 284, ../../sass/style.scss */
nav ul li a {
  text-decoration: none;
}
/* line 288, ../../sass/style.scss */
nav ul li span {
  vertical-align: top;
}
